/* Matrix.css */

.matrix-container {
  padding: 20px;
}

.matrix-heading {
  text-align: center;
  margin-bottom: 20px;
  /* position: relative; */
}

.matrix-table {
  width: 100%;
  border-collapse: collapse;
}

.matrix-table th,
.matrix-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.matrix-table th {
  background-color: #f2f2f2;
}

.matrix-table tbody tr:last-child td {
  border-bottom: none;
}

.btn{
 
}

/* .btn-alignment{
  display: flex;
  justify-content: end;
  padding-right: 3rem;
} */
.btn{
  position: sticky;
  top: 0px;
  left: 85rem;
}