/* Form container */
.form-team {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-100%); /* Initial position off-screen */
  width: 60vw;
  height: 40vh;
  max-width: 400px; /* Limit width for better responsiveness */
  border-radius: 10px; /* Increased border radius for smoother edges */
  background-color: rgb(233, 243, 245);
  opacity: 0; /* Initially hidden */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
  transition: opacity 0.5s, transform 0.5s; /* Added transition effects */
}

/* Slide-in animation */
.form-team.slide-in {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0); /* Slide the form into view */
}

.submit-btn{
  width: 60px;
  margin-top: 12px;
  height: 34px;
}
/* Form content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* Increased gap between elements */
  padding: 20px; /* Added padding for better spacing */
}

/* Form labels */
.main-content .name,
.main-content .desc {
  font-weight: bold; /* Adjusted font weight */
  font-size: 18px;
}

/* Form inputs */
.main-content .inputforname {
  width: 100px; /* Adjusted input width for better usability */
  padding: 8px; /* Adjusted padding for better spacing */
  border-radius: 5px;
  margin-left: 38px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}
.main-content .inputfordesc {
  width: 100px; /* Adjusted input width for better usability */
  padding: 8px; /* Adjusted padding for better spacing */
  border-radius: 5px;
  
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}
/* Hover effects for inputs */
.main-content .inputforname:hover,
.main-content .inputfordesc:hover {
  border-color: #007bff; /* Changed border color on hover */
}
