.form-team {
  /* Your existing styles */
  /* Initially hide the box */
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 30%;
  border-radius: 7px;
  height: 30vh;
  width: 40vw;
  background-color: rgb(233, 243, 245);
  opacity: 1;
  transform: translateY(-100%);
  transition: opacity 0.5s, transform 0.5s;
  box-shadow: 3px 3px 5px 0.2px gray;
}
.main-content .name,
.desc {
  font-weight: 500;
}
.main-content .inputforname {
  margin-left: 40px;
  border-radius: 5px;
  border: none;
  width: 65px;
  padding: 6px 6px;
}
.main-content .inputfordesc {
  /* margin-left: 40px; */
  border-radius: 5px;
  border: none;
  width: 65px;
  padding: 6px 6px;
}
.slide-in {
  opacity: 1;
  transform: translateY(0);
}
